h1{color: darkblue;}
h2{color: darkblue;}
h3{color: darkblue;}
a:hover{
	color: red;
}

input[type=text]:focus {
	background-color: powderblue;
	color: black;
	width: 20%
}

input[type=email]:focus {
	background-color: powderblue;
	color: black;
	width: 20%
}
input[type=tel]:focus {
	background-color: powderblue;
	color: black;
	width: 20%
}
textarea{
	background-color: powderblue;
	color: black;
}

input:[type=button]:hover{
	border: solid;
	background-color: rgb(0, 230, 0);
}

